

<div class="top-50 mb-20 mt-20">
  <h1
    class="font-custom text-snow_white text-6xl relative text-centre py-12 justify-self-center top-30px"
    style="display: flex; justify-content: center; align-items: center;"
  >
    GET IN TOUCH
  </h1>
  <div class="flex lg:flex-row sm:flex-col sm:items-end font-soc_text gap-10 justify-evenly">
    <div
      class="lg:w-60 flex justify-center  text-center items-center  sm:w-[50%] sm:mx-auto  bg-tech_bg  h-40 text-white rounded-lg p-2
     "
    >
  

    <a href="tel:9511776557"><h2 class="text-white opacity-100"><img class=" w-12 h-12 justify-centre align-middle top-4items-center"src="/public/phone-svgrepo-com.png" alt="">9511776557  </h2>
  </a>
    
    </div>
    <div
    class="lg:w-60 flex justify-center pt-7 text-center items-center bg-tech_bg sm:w-[50%] sm:mx-auto  h-40  rounded-lg p-2
   ml-6"
  >
  <h3 ><a href="mailto:aditisr0174@gmail.com" class="text-white relative bottom-4"><img class=" w-12 h-12 justify-centre items-center text-center flex align-middle relative left-14 "src="/public/email-1-svgrepo-com.png" alt="">aditisr0174@gmail.com</a></h3>
  </div>
  <div
  class="lg:w-60 flex justify-center pt-7 text-center items-center bg-tech_bg h-40 sm:w-[50%] sm:mx-auto  text-white rounded-lg p-2
 ml-6"
><img class=" w-12 h-12 justify-centre align-middle items-center relative bottom-7 left-16"src="/public/location-pin-alt-1-svgrepo-com.png" alt="">

<h3 class="mt-4 relative right-4">Pune , Maharashtra</h3>
</div>
<div
class="lg:w-60 flex justify-center pt-7 text-center items-center bg-tech_bg h-40 sm:w-[50%] sm:mx-auto  text-white rounded-lg p-2
ml-6"
>
<img class=" w-12 h-12 justify-centre align-middle relative bottom-10 left-16 items-center"src="/public/education11-svgrepo-com.png" alt="">
<h3 class="relative right-10">BE (ENTC)</h3>

<h3 class="relative right-8">DIT PIMPRI</h3>
</div>
  </div>
</div>
