<div class="reltive top-50" >
    <h1 class="text-snow_white absolute top-600"> Get in Touch
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae ad possimus dignissimos exercitationem ea tempore impedit corporis? Ducimus alias, fugit magnam explicabo nam ratione laboriosam accusantium autem officia at.
    </h1>







</div>