<div>
    <footer class=" bg-bg_black">
       <h3 class= "text-cyan-800  p-7 font-code_text text-3xl  justify-center items-stretch text-center"> " The Internet is the first thing that humanity has built that humanity doesn't understand, the largest experiment in anarchy that we have ever had. "</h3>
       <h4 class="text-white pb-10 text-2xl font-code_text text-centre font-bold justify-center flex items-centre al">-Eric Schmidt</h4>
    </footer>
</div>