<div class="items-center justify-center text-center">
   <a href="https://github.com/adigithub10/Resume/raw/main/Aditi_cv%20(3).pdf " download=""> <h2 class="text-white text-center text-bg_black bg-white border 2px solid white inline items-center p-3 justify-center font-bold rounded-2xl " >Download Resume</h2></a>
</div>