<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-60 gap-20 px-10">
    <!-- Card 1 -->
    <div class="w-full  bg-black h-80 text-white border border-gray-700 rounded-lg p-6
     ml-6">
      <div class="font-bold text-xl mb-4">Frontend Technologies</div>
      <p class="text-gray-400 text-base mb-4">
        
      </p>
      
    </div>
  
    <!-- Card 2 -->
    <div class="w-full bg-black text-white border border-gray-700 rounded-lg h-80 p-6">
      <div class="font-bold text-xl mb-4">Backend Technologies</div>
      <p class="text-gray-400 text-base mb-4">
        
      </p>
      
    </div>
  
    <!-- Card 3 -->
    <div class="w-full bg-black  text-white border mr-6 border-gray-700 h-80 rounded-lg p-6">
      <div class="font-bold text-xl mb-4">Databases</div>
      <p class="text-gray-400 text-base mb-4">
        
      </p>
      
    </div>
     <!-- Card 4 -->
     <div class="w-full bg-black  text-white border mr-6 border-gray-700 h-80 rounded-lg p-6">
      <div class="font-bold text-xl mb-4">Tools</div>
      <p class="text-gray-400 text-base mb-4">
        
      </p>
      
    </div>
     <!-- Card 5 -->
     <div class="w-full bg-black  text-white border mr-6 border-gray-700 h-80 rounded-lg p-6">
      <div class="font-bold text-xl mb-4">Languages</div>
      <p class="text-gray-400 text-base mb-4">
        
      </p>
      
    </div>